$white: hsl(220, 1%, 91%);
$gray-200: hsl(220, 1%, 81%);
$gray-300: hsl(220, 1%, 71%);
$gray-400: hsl(220, 1%, 61%);
$gray-500: hsl(220, 1%, 51%);
$gray-600: hsl(220, 1%, 41%);
$gray-700: hsl(220, 1%, 31%);
$gray-800: hsl(220, 1%, 21%);
$black: hsl(220, 1%, 11%);

$orange: hsl(31, 92%, 49%);